 
  .logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    animation-duration: 1s;
  }
  
  .logo-image {
    height: 150px;
    width: auto;
  }
  
  .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .header-message {
    font-size: 2em;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    display: inline-block;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .primary-button {
    background-color: #0275d8;
  }
  
  .secondary-button {
    background-color: transparent;
    color: #0275d8;
  }
  
  .button:hover {
    background-color: white;
    color: #0275d8;
  }
  
  /* CSS animations using animate.css library */
  
  .animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animate__bounceIn {
    animation-name: bounceIn;
  }